
li .collapsed {
	margin-right: 5px;
	float: left;
	width: 10px;
	height: 10px;
	background-image: url("/assets/images/arrow-collapsed.png");
}

li .open {
	margin-top: 5px;
	margin-right: 5px;
	float: left;
	width: 10px;
	height: 10px;
	background-image: url("/assets/images/arrow-open.png");
}

ul {
	list-style-type: none;
}