li .collapsed {
    margin-top: 5px;
    float: left;
    width: 10px;
    height: 10px;
    background-image: url("/assets/images/arrow-collapsed.png");
}

li .open {
    vertical-align: center;
    margin-top: 5px;
    float: left;
    width: 10px;
    height: 10px;
    background-image: url("/assets/images/arrow-open.png");
}

ul li span {
    margin-left: 5px;
}

ul {
    list-style: none;
    padding-left: 1em;
    margin-bottom: 0px;
}

ul li {
    min-height: 10px;
    padding-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#sidebar {
    padding-top: 5px;
    padding-bottom: 10px;
}