hr {color:sienna;
}

p,body,h1,ul {
    font-family:"Times New Roman", Times, serif;
}
p {margin-left:20px;
}
body {
    background-color:#b0c4de;
    color:blue;
}
h1 {
    background-color:#6495ed;
}
ul {
    background-color:#e0ffff;
    list-style-type: circle;
}

{
    border:1px solid green;
}
th
{
    background-color:green;
    color:white;
}

div
{
    width:220px;
    padding:10px;
    border:5px solid gray;
    margin:0px;
    border-style:groove;
}