@(message: String)

@main("Api") {
<div class="info">
    <img src="assets/images/sm-logo-black.png" width="194" height="38" alt="secondmarket"/>
    >> API Documentation

</div>


<div class="span-24 sm-c" >

    <div class="span-22" >
        <div class="span-7 append-1" xmlns="http://www.w3.org/1999/html">
            <div class="sm-widget-box">
                <h3>URL Hierarchy</h3>
                <div id="sidebar">
                </div>
            </div>
        </div>

        <div class = "span-12 last sm-widget-box">
            <h3>Annotated Method</h3>
            <div id="tester1"> </div>
        </div>
    </div>
</div>

}