@(message: String)

@main("Api") {
<div class="info">
    <img src="assets/images/sm-logo-black.png" width="194" height="38" alt="secondmarket"/>
    >> API Documentation

</div>


<div class="span-24 sm-c ">
    <div class="sm-span-22">
        <div class="span-7 append-1" xmlns="http://www.w3.org/1999/html">
            <div class="sm-widget-box">
                <h3>URL's</h3>
                <ul>
                    <li>
                        <div class="open"></div>
                        <span>/users</span>
                    </li>
                    <ul>
                        <li>
                            <div class="open"></div>
                            <span>/badges</span>
                        </li>
                        <ul>
                            <li>
                                <div class="open"></div>
                                <span>/show</span>
                            </li>
                            <li>
                                <div class="open"></div>
                                <span>/delete</span>
                            </li>
                        </ul>
                        <li>
                            <div class="open"></div>
                            <span>/friends</span>
                        </li>
                    </ul>
                    <li>
                        <div class="open"></div>
                        <span>/posts</span>
                    </li>
                    <li>
                        <div class="open"></div>
                        <span>/assets</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class = "span-12 last">
            <ul>
                <li>
                    <h3>Path</h3>
                    <div class="sm-mbb">
                        <div id="addpath">
                        </div>
                    </div>
                </li>
                <li>
                    <h3> Method's Information</h3>
                    <hr class="space"/>
                    <table cellpadding="0" cellspacing="0" border="0" class="sm-table sm-table-border sm-mbb">
                        <thead>
                        <tr>
                            <th>HTTP Method</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="addhttpmethod"></td>
                        </tr>
                        </tbody>
                    </table>
                    <hr class="space"/>
                </li>
                <li>
                    <h3> Parameters</h3>
                    <hr class="space"/>

                    <table cellpadding="0" cellspacing="0" border="0" class="sm-table sm-table-border sm-mbb">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Required</th>
                            <th>Annotation</th>
                            <th>Default</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="pType"></td>
                            <td id="pRequired"></td>
                            <td id="pAnnotation"></td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <hr class="space"/>
                    <h3>Return</h3>
                    <hr class="space"/>
                    <p>blank for now</p>

                </li>
            </ul>
        </div>
    </div>

</div>
}